body { font-family: Arial, Times New Roman;
       border: 20px solid white; }

h1 { text-align: center;
     background-color: lightgray; }

a { text-decoration: none; }

h3 { text-align: center;
     background-color: lightgray; }

h4 { color: red;
     text-align: center;
     background-color: lightgray; }

dd { line-height: 150%; }

.dent { text-indent: 1em; 
        display:block;}

.Emergency { color: Red; }

footer { text-align: center;
         background-color: lightgray; }